<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
        integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <script src="js/common.js"></script>

    <title>Randy - Node SMS Texting</title>
</head>

<body>
    <h1><span class="usa">US</span>/<span class="canada">Canada</span> Border Wait Times</h1>
    <div class="container">
        <!-- <input type="tel" name="number" id="number" placeholder="Enter Phone Number" value="123-456-8790"> -->
        <!-- placeholder="Enter Phone Number">-->
        <!-- <input type="text" name="msg" id="msg" placeholder="Enter Text Message" value="junk"> -->
        <!-- <input type="button" id="button" value="Send Text" class="button button-primary"> -->

        <h3><span class="canada">Canada</span> to <span class="usa">US</span> crossing times</h3>
        <p class="canadaToUsTimes">Please wait for times to appear...</p>
    </div>

    <div class="container">
        <h3><span class="usa">US</span> to <span class="canada">Canada</span> crossing times</h3>
        <p class="usToCanadaTimes">Please wait for times to appear...</p>
    </div>

    <div>
        <table>
            <tr>
                <td colspan="10">Southbound (Canada to US) on 2023-10-18 at 06:56:09</td>
            </tr>
            <tr>
                <td rowspan="2">Border Xing</td>
                <td colspan="2">Current Location-to-Border</td>
                <td colspan="3">At Border</td>
                <td colspan="2">Border-to-Destination</td>
                <td colspan="2">Current Location-to-Destination</td>
            </tr>
            <tr>
                <td>Time (min)</td>
                <td>Distance (mi)</td>
                <td>At Time...</td>
                <td>Delay (min)</td>
                <td>Lanes Open</td>
                <td>Time (min)</td>
                <td>Distance (mi)</td>
                <td>Time (min)</td>
                <td>Distance (mi)</td>
            </tr>
            <tr>
                <td>Truck Xing:</td>
                <td>Row 4, Col 2</td>
                <td>Row 4, Col 3</td>
                <td>17:00</td>
                <td>05</td>
                <td>02/07</td>
                <td>27</td>
                <td>23.9</td>
                <td>Row 4, Col 9</td>
                <td>Row 4, Col 10</td>
            </tr>
            <tr>
                <td>Peace Arch:</td>
                <td>Row 5, Col 2</td>
                <td>Row 5, Col 3</td>
                <td>17:00</td>
                <td>05</td>
                <td>02/07</td>
                <td>27</td>
                <td>23.9</td>
                <td>Row 5, Col 9</td>
                <td>Row 5, Col 10</td>
            </tr>
            <tr>
                <td>Meridian--:</td>
                <td>Row 6, Col 2</td>
                <td>Row 6, Col 3</td>
                <td>17:00</td>
                <td>05</td>
                <td>02/07</td>
                <td>24</td>
                <td>14.0</td>
                <td>Row 6, Col 9</td>
                <td>Row 6, Col 10</td>
            </tr>
            <tr>
                <td>Sumas-----:</td>
                <td>Row 7, Col 2</td>
                <td>Row 7, Col 3</td>
                <td>17:00</td>
                <td>05</td>
                <td>02/07</td>
                <td>34</td>
                <td>21.8</td>
                <td>Row 7, Col 9</td>
                <td>Row 7, Col 10</td>
            </tr>
        </table>
    </div>
    <script src="js/main.js"></script>
</body>

</html>